
a, a.current, a.active, a:active {
  outline: 0 !important;
}

code,
.code {
  color: #E74C3C;
  border-radius: 1px;
  background: #fff;
  border: solid 1px #e1e4e5;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

hr.hr {
  border-top: solid 1px _palette(border);
}