// ---------------------------------------------------------------
// 8.2.1 Utility classes
// ---------------------------------------------------------------

/* Rotate counter-clockwise 90 degrees */
.rotate {
    @include transform(rotate(-90deg));
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  // Internet Explorer
  }
  
  .bg-white {
    background: #ffffff;
    background-color: #ffffff;
  }
  .bg-grey {
    background: #FCFCFC;
    background-color: #FCFCFC;
  }
  
  .body-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(#CCC, .5);
    zoom: 1;
  }
  
  // Mainly used in debugging and troubleshooting 
  // e.g. <div class="border"></div>
  .border {
    border: 1px solid #F00 !important;
  }