// 
// #Footer
// 

	#footer {
    padding-top: 35px; 
    padding-bottom: 35px; 
		.icons {
      margin-top: 15px;
      margin-bottom: 15px;
      li {
        padding-left: 8px;
        padding-right: 8px;
        &:first-child {
          padding-left: 0;
        }
      }
      i {
        color: _palette(fg-light);
      }
    } 

		.copyright {
			color: _palette(fg-light);
			font-family: _font(family-heading);
			font-size: 0.5em;
			font-weight: _font(weight-heading);
			letter-spacing: _font(kerning-heading);
			text-transform: uppercase;
		}
	}