// 
// #Footer
// 
footer.footer {       
  min-width: 570px;
  height:50px; 
  position: relative;
  bottom:0;
  left:60px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #FFF;
}

footer ul { float: right;padding:0;margin:0; } 
footer ul li { display:inline-block; } 
#user,
#setting,
#exit {
  float:left;
  height:45px;
  border-left:1px solid #ebebeb; 
}
#setting,
#exit { width:50px; }
#setting { background:url("../img/settings.png") 16px no-repeat; }
#exit { background:url("../img/exit.png") 16px no-repeat; }
#user { 
  background:url("../img/anibor.png") no-repeat 10px;
  width:50px;
  padding-right:170px;
  padding-top:2px;
}
#user font { 
  font-size:15px;
  color:#666666;
  position:absolute;
  margin:14px 0px 0px 50px;
  padding-left:5px;
}

