// --------------------------------------------------------------
// Color Glossary - needs updating
// --------------------------------------------------------------
// Dark gray (text):            #333333

// --------------------------------------------------------------
// Custom variables 
// --------------------------------------------------------------
// $white: #FFF;
// $black: #1A1A1A;
// $brand-black: #000;
// $black-medium: #282826;
// $charcoal: #282826; 
// $charcoal-medium: #2A2A2A;
// // $gray: #C2C2C2;
// $gray-medium: #EBEBEB; 
// $gray-dimmed: #FAFAFA;
// // $gray-light: #FDFDFD;

$brand-primary:         #3c3b3b;
$brand-primary-dark:    darken($brand-primary, 6%) !default;
// $brand-primary-medium: #293134 !default;
// $brand-secondary: #267DF4 !default;
$brand-success:         #669900 !default; // #00AE69 #5C8600 #5cb85c
$brand-success-dark:    darken($brand-success, 3%) !default;
$brand-info:            #558ABB !default; // #4688DE
$brand-info-dark:       darken($brand-info, 5%) !default;
$brand-warning:         #FCF8DF !default; // #f0ad4e !default;
$brand-warning-dark:    darken($brand-warning, 10%) !default;
$brand-danger:          #B0423F !default; // #d9534f #
$brand-danger-dark:     darken($brand-danger, 3%) !default;

// $brand-warning: #f58410;
// $brand-warning-dark: #e96300;


// $brand-link-color: $brand-primary-medium !default; // processewire pink - #EB315F

// $border-radius-base: 3px;
// $border-color-light: #DCDCDC;

$body-bg-color:         #F4F4F4 !default;

// Palette.
$palette: (
  bg:							  #ffffff,
  bg-alt:						#f4f4f4,
  fg:							  #646464,
  fg-bold:					#3c3b3b,
  fg-light:					#aaaaaa,
  border:						rgba(160,160,160,0.3), // #A0A0A0
  border-bg:				rgba(160,160,160,0.075),
  border-alt:				rgba(160,160,160,0.65),
  accent:						#2ebaae
);

$font: (
  family:						        ('Source Sans Pro', Helvetica, sans-serif),
  family-fixed:				      ('Courier New', monospace),
  family-heading:				    ('Raleway', Helvetica, sans-serif),
  weight:						        400,
  weight-bold:				      700,
  weight-heading:				    400,
  weight-heading-bold:		  800,
  weight-heading-extrabold:	900,
  kerning-heading:			    0.25em
);

$breakpoints: (
  xlarge:   '(max-width: 1680px)',
  large:    '(max-width: 1280px)',
  medium:   '(max-width: 980px)',
  small:    '(max-width: 736px)',
  xsmall:   '(max-width: 480px)'
);

// Size.
$size: (
  element-height:				  2.75em,
  element-margin:				  2em,
  section-spacing:			  3em,
  section-spacing-small:	1.5em,
  menu:						        25em
);

// --------------------------------------------------------------
// Bootstrap variables are found in bootstrap/_variables.scss
// --------------------------------------------------------------

// Typography 

$font-family-sans-serif:      'Source Sans Pro', Helvetica, Arial, sans-serif !default;
// $font-family-serif:         Georgia, "Times New Roman", Times, serif !default;
$font-size-base:              16px !default;
$font-size-large:             ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:             ceil(($font-size-base * 0.85)) !default; // ~12px

$headings-font-family:        'Raleway', Helvetica, sans-serif !default;
// $headings-font-weight:        800 !default;
$headings-line-height:        1.2 !default;

$line-height-base:            1.75 !default; // 20/14
$line-height-computed:        floor(($font-size-base * $line-height-base)) !default;

$border-radius-base:          0 !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     10px !default;
$padding-base-horizontal:   16px !default;

$padding-large-vertical:    14px !default;
$padding-large-horizontal:  20px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.33 !default;
$line-height-small:         1.5 !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

//== Forms 
// $input-border-focus: $brand-primary;
// $input-border: #DDD !default;

//== Forms
//
//##

// `<input disabled>` background color
// $input-bg-disabled:              $gray-lighter !default;

//   Text color for `<input>`s
// $input-color:                    $gray !default;
//   `<input>` border color
// $input-border:                   #ccc !default;

//   Default `.form-control` border radius
$input-border-radius:            $border-radius-base !default;
//   Large `.form-control` border radius
$input-border-radius-large:      $border-radius-base !default;
//   Small `.form-control` border radius
$input-border-radius-small:      $border-radius-base !default;

//   Border color for inputs on focus
$input-border-focus:             #66afe9 !default;

//   Placeholder text color
$input-color-placeholder:        #999 !default;

//   Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
//   Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//   Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


//== Progress Bars
$progress-border-radius:      2px !default;
$progress-height:             6px !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                600 !default;

//== Pagination
//
//##

// $pagination-color:                     $link-color !default;
// $pagination-bg:                        #fff !default;
// $pagination-border:                    #ddd !default;
// 
// $pagination-hover-color:               $link-hover-color !default;
// $pagination-hover-bg:                  $gray-lighter !default;
// $pagination-hover-border:              #ddd !default;
// 
// $pagination-active-color:              #fff !default;
// $pagination-active-bg:                 $brand-primary !default;
// $pagination-active-border:             $brand-primary !default;
// 
// $pagination-disabled-color:            $gray-light !default;
// $pagination-disabled-bg:               #fff !default;
// $pagination-disabled-border:           #ddd !default;


//== Pager
//
//##

// $pager-bg:                             $pagination-bg !default;
// $pager-border:                         $pagination-border !default;
$pager-border-radius:                  0 !default;
// $pager-hover-bg:                       $pagination-hover-bg !default;
// $pager-active-bg:                      $pagination-active-bg !default;
// $pager-active-color:                   $pagination-active-color !default;
// $pager-disabled-color:                 $pagination-disabled-color !default;

// --------------------------------------------------------------
// Custom module variables  
// --------------------------------------------------------------

$table-hover-bg-color:        #F2F7FA;

$btn-lg-font-size:            14px;
$btn-lg-line-height:          1.5 !default;
$btn-lg-border-radius:        0;
$btn-lg-padding-vertical:     21px !default;  
$btn-lg-padding-horizontal:   32px !default;

$btn-normal-font-size:            10px;
$btn-normal-line-height:          1.5 !default;
$btn-normal-border-radius:           0;
$btn-normal-padding-vertical:     16px !default;  
$btn-normal-padding-horizontal:   26px !default;

$btn-sm-font-size:            8px;
$btn-sm-line-height:          1.5 !default;
$btn-sm-border-radius:        0;
$btn-sm-padding-vertical:     12px !default;  
$btn-sm-padding-horizontal:   16px !default;

$btn-xs-font-size:            7.5px;
$btn-xs-line-height:          1.5 !default;
$btn-xs-border-radius:        0;
$btn-xs-padding-vertical:     7px !default;  
$btn-xs-padding-horizontal:   14px !default;

